@model OP.PortalOncoprod.Application.ViewModels.TabelaPrecoOncoprodViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizar";
}
<br />
@using (Html.BeginForm("Visualizar", "TabelaPrecoOncoprod", FormMethod.Get))
{
    <div class="container-fluid" style="max-width: 100%;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" style="text-transform: uppercase;"><a href="#">Tabela de Preço</a></li>
                <li class="breadcrumb-item active" style="text-transform: uppercase;" aria-current="page">Detalhes</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-8">
                <div>
                    <div class="pull-left">
                        <a class="btn btn-primary" href="@Url.Action("Index", "TabelaPrecoOncoprod")">
                            <span title="Detalhes" class="glyphicon glyphicon-menu-left"></span>
                            Voltar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <form>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.codigo)
                    @Html.TextBoxFor(model => model.codigo, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.dataAlteracao)
                    @Html.TextBoxFor(model => model.dataAlteracao, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.margemMinima)
                    @Html.TextBoxFor(model => model.margemMinima, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.margemVenda)
                    @Html.TextBoxFor(model => model.margemVenda, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-12">
                    @Html.DisplayNameFor(model => model.descricao)
                    @Html.TextAreaFor(model => model.descricao, new { @class = "form-control", @rows = "1", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.apresentacaoQualidade)
                    @Html.TextBoxFor(model => model.apresentacaoQualidade, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.nomeQuimico)
                    @Html.TextBoxFor(model => model.nomeQuimico, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.laboratorio)
                    @Html.TextBoxFor(model => model.laboratorio, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.ean)
                    @Html.TextBoxFor(model => model.ean, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.registro)
                    @Html.TextBoxFor(model => model.registro, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.ncm)
                    @Html.TextBoxFor(model => model.ncm, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.lista)
                    @Html.TextBoxFor(model => model.lista, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.categoria)
                    @Html.TextBoxFor(model => model.categoria, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.tipoArmazenamento)
                    @Html.TextBoxFor(model => model.tipoArmazenamento, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.produtoControlado)
                    @Html.TextBoxFor(model => model.produtoControlado, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.exclusivoHospitalar)
                    @Html.TextBoxFor(model => model.exclusivoHospitalar, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.classificacaofiscal)
                    @Html.TextBoxFor(model => model.classificacaofiscal, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="form-group col-lg-3">
                    Origem
                    @Html.TextBoxFor(model => model.nacionalImportado, new { @class = "form-control", @readonly = "true" })
                </div>
                <div class="form-group col-lg-3">
                    UF-  @Html.DisplayNameFor(model => model.ufLaboratorio)
                    @Html.TextBoxFor(model => model.ufLaboratorio, new { @class = "form-control", @readonly = "true" })
                </div>





                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.nivel)
                    @Html.TextBoxFor(model => model.nivel, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="form-group col-lg-3">
                    @Html.DisplayNameFor(model => model.aumento)
                    @Html.TextBoxFor(model => model.aumento, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="form-group col-lg-12">
                    @Html.DisplayNameFor(model => model.observacao)
                    @Html.TextBoxFor(model => model.observacao, new { @class = "form-control", @rows = "1", @readonly = "true" })
                </div>

                <div id="tabOncoMatriz" class="form-group col-lg-12">
                    <fieldset>
                        <legend>Oncoprod RS</legend>
                        <div class="form-group col-lg-4">
                            ICMS - 17% SC
                            @Html.TextBoxFor(model => model.oncoProdRS_17_SC, new { @class = "form-control", @MaxLengthAttributeAdapter = "auto", @readonly = "true" })
                        </div>

                        <div class="form-group col-lg-4">
                            ICMS - 17,5% RS
                            @Html.TextBoxFor(model => model.oncoProdRS_175_RS, new { @class = "form-control", @MaxLengthAttributeAdapter = "auto", @readonly = "true" })
                        </div>

                        <div class="form-group col-lg-4">
                            ICMS - 18% PR
                            @Html.TextBoxFor(model => model.oncoProdRS_18_PR, new { @class = "form-control", @MaxLengthAttributeAdapter = "auto", @readonly = "true" })
                        </div>
                    </fieldset>
                </div>

                <div id="tabOncoMatriz" class="form-group col-lg-12">
                    <fieldset>
                        <legend>Oncoprod PE</legend>
                        <div class="form-group col-lg-4">
                            ICMS - 17% AL
                            @Html.TextBoxFor(model => model.oncoProdPE_17_AL, new { @class = "form-control", @readonly = "true" })
                        </div>

                        <div class="form-group col-lg-4">
                            ICMS - 18% BA, CE, MA, PB, PE, PI, RN, SE
                            @Html.TextBoxFor(model => model.oncoProdPE_18_BA_CE_MA_PB_PE_PI_RN_SE, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </fieldset>
                </div>

                <div id="tabOncoMatriz" class="form-group col-lg-12">
                    <fieldset>
                        <legend>Oncoprod SP</legend>
                        <div class="form-group col-lg-4">

                            ICMS - 12% SP, MG
                            @Html.TextBoxFor(model => model.oncoprodSP_12_SP_MG, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-4">

                            ICMS - 17% AC, AL, GO, MS, MT, PA, RR
                            @Html.TextBoxFor(model => model.oncoprodSP_17_AC_AL_GO_MS_MT_PA_RR, new { @class = "form-control", @readonly = "true" })
                        </div>

                        <div class="form-group col-lg-4">

                            ICMS - 17,5% RO
                            @Html.TextBoxFor(model => model.oncoprodSP_175_RO, new { @class = "form-control", @readonly = "true" })
                        </div>

                        <div class="form-group col-lg-4">

                            ICMS - 18% SP
                            @Html.TextBoxFor(model => model.oncoprodSP_18_SP, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-4">

                            ICMS - 20% RJ
                            @Html.TextBoxFor(model => model.oncoprodSP_20_RJ, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-4">

                            ICMS - 18% AM, AP, BA, CE, MA, MG, PB, PI, RN, SE, TO
                            @Html.TextBoxFor(model => model.oncoprodSP_18_AM_AP_BA_CE_MA_MG_PB_PI_RN_SE_TO, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </fieldset>
                </div>

                <div id="tabOncoMatriz" class="form-group col-lg-12">
                    <fieldset>
                        <legend>Oncoprod DF</legend>
                        <div class="form-group col-lg-4">

                            ICMS -12% SP, MG
                            @Html.TextBoxFor(model => model.oncoprodDF_12_SP_MG, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-4">

                            ICMS - 17% DF
                            @Html.TextBoxFor(model => model.oncoprodDF_17_DF, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-4">

                            ICMS - 17% GO
                            @Html.TextBoxFor(model => model.oncoprodDF_17_GO, new { @class = "form-control", @readonly = "true" })
                        </div>

                        <div class="form-group col-lg-4">

                            ICMS - 17% AC, AL, GO, MS, MT, PA, PR
                            @Html.TextBoxFor(model => model.oncoprodDF_17_AC_AL_GO_MS_MT_PA_RR, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-4">

                            ICMS - 17,5% RO
                            @Html.TextBoxFor(model => model.oncoprodDF_175_RO, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-4">
                            ICMS - 18% , AM, AP, BA, CE, MA, MG, PB, PI, RN, SE, TO, SP
                            @Html.TextBoxFor(model => model.oncoprodDF_18_AM_AP_BA_CE_MA_MG_PB_PI_RN_SE_TO_SP, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-4">
                            ICMS - 20% RJ
                            @Html.TextBoxFor(model => model.oncoprodDF_20_RJ, new { @class = "form-control", @readonly = "true" })
                        </div>
                       
                    </fieldset>
                </div>
                <div id="tabOncoMatriz" class="form-group col-lg-12">
                    <fieldset>
                        <legend>Oncoprod ES</legend>
                        <div class="form-group col-lg-4">

                            ICMS - 12% SP, MG
                            @Html.TextBoxFor(model => model.oncoprodES_12_SP_MG, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-4">

                            ICMS - 17% ES
                            @Html.TextBoxFor(model => model.oncoprodES_17_ES, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-4">

                            ICMS - 18% SP
                            @Html.TextBoxFor(model => model.oncoprodES_18_SP, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-4">

                            ICMS - 20% RJ
                            @Html.TextBoxFor(model => model.oncoprodES_20_RJ, new { @class = "form-control", @readonly = "true" })
                        </div>

                    </fieldset>
                </div>



                <div id="tbCMEDPF" class="form-group col-lg-12">
                    <fieldset>
                        <legend>Preço Fábrica</legend>
                        <div class="form-group col-lg-2">
                            ICMS - 0%
                            @Html.TextBoxFor(model => model.pf_0, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-2">
                            ICMS - 12%
                            @Html.TextBoxFor(model => model.pf_12, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-2">
                            ICMS - 17%
                            @Html.TextBoxFor(model => model.pf_17, new { @class = "form-control", @readonly = "true" })
                        </div>

                        <div class="form-group col-lg-2">
                            ICMS - 17,5%
                            @Html.TextBoxFor(model => model.pf_175, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-2">
                            ICMS - 18%
                            @Html.TextBoxFor(model => model.pf_18, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-2">
                            ICMS - 20%
                            @Html.TextBoxFor(model => model.pf_20, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </fieldset>
                </div>

                <div id="tbCMEDPMC" class="form-group col-lg-12">
                    <fieldset>
                        <legend>PMC </legend>
                        <div class="form-group col-lg-2">
                            0%
                            @Html.TextBoxFor(model => model.PMC_0, new { @class = "form-control", @readonly = "true" })
                        </div>

                        <div class="form-group col-lg-2">
                            12%
                            @Html.TextBoxFor(model => model.PMC_12, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-2">
                            17%
                            @Html.TextBoxFor(model => model.PMC_17, new { @class = "form-control", @readonly = "true" })
                        </div>

                        <div class="form-group col-lg-2">
                            17,5%
                            @Html.TextBoxFor(model => model.PMC_175, new { @class = "form-control", @readonly = "true" })
                        </div>

                        <div class="form-group col-lg-2">
                            18%
                            @Html.TextBoxFor(model => model.PMC_18, new { @class = "form-control", @readonly = "true" })
                        </div>
                        <div class="form-group col-lg-2">
                            20%
                            @Html.TextBoxFor(model => model.PMC_20, new { @class = "form-control", @readonly = "true" })
                        </div>
                    </fieldset>
                </div>
                <div class="form-group col-lg-12">
                    INDICAÇÃO
                    @Html.TextAreaFor(model => model.indicacao, new { @class = "form-control", @rows = "2", @readonly = "true" })
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div>
                    <div class="pull-left">
                        <a class="btn btn-primary" href="@Url.Action("Index", "TabelaPrecoOncoprod")">
                            <span title="Detalhes" class="glyphicon glyphicon-menu-left"></span>
                            Voltar
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

}

<style>
    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #ffffff;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 22%;
        border: 0px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>
